{% extends "base.html" %}

{% block title %}Favourites{% endblock %}

{% block content %}
  <article class="shoptools-favourites-page shoptools-page">
    <h2 class='heading'>
      Favourites
    </h2>
    {% if favourites.count() %}
      <div class='existing-favourites'>
        {% for favourites_list in favourites %}
          <p>
            <a href='{{ favourites_list.get_absolute_url() }}'>
              {{ favourites_list }}
            </a>
          </p>
        {% endfor %}
      </div>
    {% endif %}
    <div class='create-new-favourites'>
      <h2 class='favourites-heading'>
        Create Favourites List
      </h2>
      <form action="{{ url('favourites_create') }}" method="post"
            class="favourites-form">

        {{ render_form(favourites_form) }}
        {% if next %}
          <input type="hidden" name="next" value="{{ next }}">
        {% endif %}

        <input type="submit" name="confirm" value="Create Favourites List">
      </form>
    </div>
  </article>
{% endblock %}
