{% set lines = favourites.get_lines() %}
<div class='favourites-list'>
  <div class='favourites-errors'>
    {% for error in favourites_errors %}
      <p class='error'>{{ error }}</p>
    {% endif %}
  </div>
  {% for line in lines %}
    {% set item = line.item %}
    <div class='favourites-line'>
      {% if item %}
        <a href='{{ item.get_absolute_url() }}'>
      {% endif %}
          <p class='description'>
            {{ item.description }}
          </p>
      {% if item %}
        </a>
      {% endif %}
      {% if editable and item %}
        <form action='{{ url("favourites_toggle") }}' method='POST'
              class='favourites-toggle-form'
              id='{{ item.ctype.replace('.', '-') }}-{{ item.id }}'>
          {{ csrf_input }}
          <input type='hidden' name='pk' value='{{ item.pk }}'/>
          <input type='hidden' name='ctype' value='{{ item.ctype }}'/>
          <input class='remove'
                 type='submit' value='Remove' />
          <input class='add'
                 type='submit' value='Restore' />
        </form>
      {% endif %}
    </div>
  {% else %}
    <p class='no-results'>
      You have no favourite listings.
    </p>
  {% endfor %}
</div>
