{% extends "base.html" %}

{% block title %}Favourites{% endblock %}

{% block content %}
  <article class="shoptools-favourites-page shoptools-page">
    <h2 class='heading'>
      Favourites
    </h2>
    <div class='intro'>
      <p>
        <a href='{{ url("login") }}{{ "?next=%s" % next if next else "" }}'>
          Log in </a> or
        <a href='{{ url("accounts_create") }}
                 {{- "?next=%s" % next if next else "" }}'> create an account
        </a> to get started.
      </p>
    </div>
  </article>
{% endblock %}
