{% from 'checkout/snippets/lines.html' import order_lines with context %}

{% if cart.empty() %}
  <p class='checkout-empty'>
    No products in your cart.
  </p>
{% else %}
  <div class='cart-errors'>
    {% for error in cart_errors %}
      <p class='error'>{{ error }}</p>
    {% endfor %}
  </div>

  {{ order_lines(cart, quantity_url=url('checkout_quantity'),
                 show_quantity=True) }}

  <div class='selection-forms'>
    {% if region_selection_form or shipping_option_selection_form %}
      {% if region_selection_form %}
        {% from 'regions/snippets/forms.html' import region_change_form with context %}
        {{ region_change_form(region_selection_form) }}
      {% endif %}

      {% if shipping_option_selection_form %}
        {% from 'shipping/snippets/forms.html' import shipping_change_form with context %}
        {{ shipping_change_form(shipping_option_selection_form) }}
      {% endif %}
    {% endif %}
  </div>

  {% if vouchers_enabled %}
    {% from 'vouchers/snippets/forms.html' import cart_voucher_form with context %}
    {{ cart_voucher_form(cart) }}
  {% endif %}

  <div class='checkout-totals {{- " cart-invalid" if not cart.is_valid else '' }}'>
    {% set code, symbol = cart.get_currency() %}
    <div class='subtotal'>
      {% if cart.is_valid %}
        <strong>Subtotal</strong>
        {#- spaceless -#}
        <span class='subtotal-inner'>
          {{ symbol }}<span class='cart-subtotal'>
            {{- '{:,.2f}'.format(cart.subtotal) -}}
          </span>
        </span>
      {% endif %}
    </div>
    <div class='shipping'>
      {% if cart.is_valid %}
        <strong>Shipping</strong>
        {#- spaceless -#}
        <span class='shipping-inner'>
          {{ symbol }}<span class='cart-shipping-cost'>
            {{- '{:,.2f}'.format(cart.shipping_cost) -}}
          </span>
        </span>
      {% endif %}
    </div>
    {% if vouchers_enabled %}
      {% from 'vouchers/snippets/forms.html' import cart_voucher_discounts %}
      {{ cart_voucher_discounts(cart) }}
    {% endif %}
    <div class='total'>
      {% if cart.is_valid %}
        <strong>Total</strong>
        {#- spaceless -#}
        <span class='total-inner'>
          {{ symbol }}<span class='cart-total'>
            {{- '{:,.2f}'.format(cart.total) }} {{ code -}}
          </span>
        </span>
      {% endif %}
    </div>
  </div>

  <div class='checkout-buttons proceed-to-checkout'>
    {% if cart.is_valid %}
      <a class='checkout button'
         href='{{ url("checkout_checkout") }}'>
        <span>Continue to<br/>Payment &amp; Shipping</span>
      </a>
    {% endif %}
  </div>
{% endif %}
