{% macro order_lines(order_obj, quantity_url, show_quantity=False,
                     add_to_cart=False) %}
  {# order_obj may be a cart or an order #}

  <div class='checkout-item-list'>
    {% for line in order_obj.get_lines() %}
      {% set item = line.item %}
      <div class='form-row'
           {% if item %}id='{{ item.ctype.replace('.', '-') }}-{{ item.id }}'{% endif %}>
        <div class='description cell'>
          <p>
            {% if item and item.get_absolute_url %}<a href='{{ item.get_absolute_url() }}'>{% endif %}
              {{ line.description|safe }}
            {% if item %}</a>{% endif %}
          </p>
        </div>
        {%- if show_quantity -%}
          <div class='quantity cell'>
            {% if item and quantity_url %}
              <form action='{{ quantity_url }}' method='post'>
                {{ csrf_input }}
                {#- -#}
                <label>Qty</label>
                {#- -#}
                <input type='number' name='quantity' value='{{ line.quantity }}'
                       min='0' step='1'>
                {#- -#}
                <input type='hidden' name='ctype'
                       value='{{ line.ctype }}'>
                {#- -#}
                <input type='hidden' name='pk' value='{{ item.pk }}'>
                {#- -#}
                <input type='submit' value='Update'>
              </form>
            {% else %}
              <p><span>Qty:</span> {{ line.quantity }}</p>
            {% endif %}
          </div>
        {%- endif -%}
        <div class='line-total cell'>
          {% set code, symbol = order_obj.get_currency() %}
          {% if line.total or line.total == 0 %}
            <p>
              {{ symbol }}{{ '{:,.2f}'.format(line.total) }}
            </p>
          {% endif %}
        </div>
        {%- if item and show_quantity and quantity_url -%}
          <div class='remove cell'>
            <form action='{{ quantity_url }}' method='post'>
              {{ csrf_input }}
              <input type='hidden' name='quantity' value='0'>
              <input type='hidden' name='ctype'
                     value='{{ line.ctype }}'>
              <input type='hidden' name='pk' value='{{ item.pk }}'>
              <input type='submit' name='Update' value='Remove'>
            </form>
          </div>
        {%- endif %}
      </div>
    {% endfor %}
  </div>
{% endmacro %}
