<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% from 'checkout/snippets/macros.html' import full_path_img with context %}


<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ subject }}</title>
  <style>

  </style>
</head>
<body style="">
  <div style="width: 720px;margin: 0 auto; padding: 20px;">
    <table border=0 width=100%>
      <tr>
        <td>
          <a href="http://{{ site.domain }}" style="">
            {# logo #}
          </a>
          <br><br><br><br>
        </td>
        <td style="width: 200px;">
          <br><br><br><br>
          {% block header %}{% endblock %}
          <br>
        </td>
      </tr>
    </table>
    <div style="text-transform: uppercase; margin-bottom: 40px;">
      {% block content %}
        {{ text_content|linebreaks }}
      {% endblock %}
    </div>

    <table border=0 width=100% style="margin-bottom: 40px;">
      <tr>
        <td>
          {{ cms_block('contact-details', filters='linebreaks', site=True) }}
        </td>
        <td>

        </td>
      </tr>
    </table>

    <div style="padding-top: 40px; text-transform: uppercase;">
      {# footer #}
    </div>
  </div>
</body>
