{% extends "accounts/base.html" %}

{% set page_title = "%s's orders" % request.user.first_name %}


{% macro order_listing(order) %}
  <li>
    {% for line in order.lines.all()[:1] %}
      <a href="{{ line.item.get_absolute_url() }}">
        {{ line.description }}
      </a>
    {% endfor %}
    <div class="text">
      <h6><a href="{{ order.get_absolute_url() }}">
        {{ order.name }}<br>
        {{ order.created|date('d F y') }}<br>
        {{ order.lines.count() }} item{{ order.lines.count()|pluralize }}<br>
        {{ order.total|floatformat(-2) }} AUD {# TODO currency #}
      </a></h6>
      <p class="status">
        Status: {{ order.get_status_display() }}
      </p>
    </div>
  </li>
{% endmacro %}


{% block accounts_content %}
  <section class="accounts-orders">
    <ul class="cart-list">
      {% if current.count() + completed.count() %}
        {% for order in current %}
          {{ order_listing(order) }}
        {% endfor %}
        {% for order in completed %}
          {{ order_listing(order) }}
        {% endfor %}
      {% else %}
        <li><p>No orders to show</p></li>
      {% endif %}
    </ul>
  </section>
{% endblock %}
