<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body style="background: white; color: #171717;">
    <table style="width: 100%; cell-spacing: 0; padding: 0; margin: 0;
                  border-collapse: collapse; background: white; color: #171717;
                  font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
                  line-height: 1.35;">
      <tr>
        <td style="width: 100px;">&nbsp;</td>
        <td>
          <h1>
            <a href="http://{{ site.domain }}"></a>
          </h1>
          <h2 style="font-weight: bold; font-size: 35px; margin-top: 50px;
                     border-bottom: 10px solid #171717; padding-bottom: 20px;
                     margin-bottom: 0;">
            {% block heading %}{% endblock %}
          </h2>
          {% block intro %}{% endblock %}
          <h3 style="font-size: 80%; font-weight: normal; padding: 10px 0 30px;
                     border-bottom: 1px solid #171717;">
            Order: {{ order.id }}
          </h3>
          {% block content %}{% endblock %}
          {% block footer %}
            {% include 'checkout/emails/snippets/footer.html' %}
          {% endblock %}
        </td>
        <td style="width: 100px;">&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
