{% extends "checkout/base.html" %}

{% set page_title = 'Your details' %}

{% block content %}
  <article class="checkout-checkout">
    <section class="user">
      {% if request.user.is_authenticated() %}
        <h6>Logged in as {{ request.user.first_name }}</h6>
      {% else %}
        {% include 'checkout/snippets/side_login.html' %}
      {% endif %}
    </section>

    {% if order or not cart.empty() %}
      <form action="{{ request.path_info }}#form" method="post"
            class="checkout-form">
        {% include 'snippets/form_hidden.html' %}

        <h3>Delivery details</h3>

        {% for error in cart_errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}

        {% if form.errors %}
          <p class="error-warning">Please correct the errors below</p>
        {% endif %}

        {% for field in form.visible_fields() %}
          {% include 'snippets/form_field.html' %}
        {% endfor %}

        {% if not account.pk %}
          <div class="form-field save-details">
            <div class="checkbox-mask">
              <input type="checkbox" name="save-details" value="1"
                     id="save_details"
                     {% if request.POST.get('save-details') %}
                      checked{% endif %}>
            </div>
            <label for="save_details">
              Would you like to save these details?
              {% if user_form %}
                <span>Create a login</span>
              {% endif %}
            </label>
          </div>

          {% if user_form %}
            {% for field in user_form.hidden_fields() %}
              {{ field|safe }}{% endfor %}

            <div class="user-form">
              {{ user_form.non_field_errors()|safe }}

              {% for field in user_form.visible_fields() %}
                {% include 'snippets/form_field.html' %}
              {% endfor %}
            </div>
          {% endif %}
        {% endif %}

        <div class="checkout-buttons">
          <a href="{{ url('checkout_cart') }}" class="back">Back to cart</a>
          <input type="submit" name="confirm" value="Continue to payment">
        </div>
      </form>
    {% else %}
      <p class="empty">
        No products in your cart.
      </p>
    {% endif %}
  </article>
{% endblock %}
