{% extends "checkout/base.html" %}
{% from 'snippets/form.html' import form_field, form_hidden with context %}

{% set page_title = 'Your details' %}

{% block title %}Shipping Details{% endblock %}

{% block content %}
  <article class="checkout-checkout">
    <section class="user">
      {% if request.user.is_authenticated %}
        <h6>
          Logged in as {{ request.user.first_name }}
        </h6>
      {% else %}
        {% include 'checkout/snippets/side_login.html' %}
      {% endif %}
    </section>

    {% if order or not cart.empty() %}
      {# novalidate so we can have blank user / billing address forms #}
      <form action="{{ request.path_info }}#form" method="post"
            class="checkout-form
                   {{- ' show-billing-address' if not use_shipping_address else '' }}
                   {{- ' show-gift-message' if is_gift else '' }}"
            novalidate>
        {{- csrf_input }}
        {%- for field in order_form.hidden_fields() %}{{ field }}{% endfor %}
        {%- for field in billing_form.hidden_fields() %}{{ field }}{% endfor %}
        {%- for field in shipping_form.hidden_fields() %}{{ field }}{% endfor -%}
        <section class='shipping-address'>
          <h3>Shipping Address</h3>

          {% if shipping_form.errors or order_form.errors %}
            <p class="error-warning">Please correct the errors below</p>
          {% endif %}
          {{ shipping_form.non_field_errors()|safe }}
          {{ order_form.non_field_errors()|safe }}

          {% for field in shipping_form.visible_fields() %}
            {{ form_field(field) }}
          {% endfor %}
          {% for field in order_form.visible_fields() %}
            {{ form_field(field) }}
          {% endfor %}

          {% if not account.pk %}
            <div class="form-field save_details">
              <input type="checkbox" name="save_details" value="1"
                     id="id_save_details"
                     {% if request.POST.get('save_details') %}
                      checked{% endif %}>
              <label for="id_save_details">
                Would you like to save these details?
                {% if user_form %}
                  <span>Create a login</span>
                {% endif %}
              </label>
            </div>

            {% if user_form %}
              {% for field in user_form.hidden_fields() %}
                {{ field|safe }}{% endfor %}

              <div class="user-form">
                {{ user_form.non_field_errors()|safe }}

                {% for field in user_form.visible_fields() %}
                  {{ form_field(field) }}
                {% endfor %}
              </div>
            {% endif %}
          {% endif %}
        </section>
        {#- spaceless -#}
        <section class='billing-address'>
          <h3>Billing Address</h3>
          <div class='form-field use_shipping_address'>
            <span class='input-wrap'>
              <input id='id_use_shipping_address' name='use_shipping_address'
                     type='checkbox'
                     {{ 'checked' if use_shipping_address else '' }}/>
            </span>
            <label for='id_use_shipping_address'>
              Same as shipping address
            </label>
          </div>
          <div class='billing-address-inner'>
            {% if billing_form.errors %}
              <p class="error-warning">Please correct the errors below</p>
            {% endif %}
            {{ billing_form.non_field_errors()|safe }}

            {% for field in billing_form.visible_fields() %}
              {{ form_field(field) }}
            {% endfor %}
          </div>
        </section>
        {#- spaceless -#}
        <div class="checkout-buttons">
          <a href="{{ url('checkout_cart') }}" class="back">Back to cart</a>
          <input type="submit" name="confirm" value="Continue to payment">
        </div>
      </form>
    {% else %}
      <p class="empty">
        No products in your cart.
      </p>
    {% endif %}
  </article>
{% endblock %}
