{% extends "checkout/base.html" %}

{% set page_title = 'Your details' %}

{% block content %}
  <article class="checkout-checkout">
    <section class="user">
      {% if request.user.is_authenticated() %}
        <h6>Logged in as {{ request.user.first_name }}</h6>
      {% else %}
        {% include 'checkout/snippets/side_login.html' %}
      {% endif %}
    </section>

    {% if order or not cart.empty() %}
      <form action="{{ request.path_info }}#form" method="post"
            class="checkout-form">
        {% include 'snippets/form_hidden.html' %}

        <h3>Your details</h3>

        {% for error in cart_errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}

        {% if form.errors %}
          <p class="error-warning">Please correct the errors below</p>
        {% endif %}

        {% for field in form.visible_fields() %}
          {% if field.name == 'country' %}
            {# TODO: Allow any country if there is a gift recipient #}
            <div class="form-field {{ field.name -}}
                        {%- if field.errors %} error{% endif -%}
                        {%- if field.field.required %} required{% endif %}">
              {{- field.errors|safe }}

              {{- field.label_tag(label_suffix='')|safe }}
              {% if valid_countries %}
                <select id='id_country' name='country'>
                  {% for code, name in valid_countries %}
                    {% set selected = not selected_country and loop.first or code == selected_country %}
                    <option value='{{ code }}' {{ 'selected' if selected else ''}}>
                      {{ name }}
                    </option>
                  {% endfor %}
                </select>
              {% else %}
                {{- field|safe }}
              {% endif %}

              {%- if field.help_text -%}
                <p class="help">{{ field.help_text }}</p>
              {%- endif -%}
            </div>
          {% else %}
            {% include 'snippets/form_field.html' %}
          {% endif %}
        {% endfor %}

        {% if not account.pk %}
          <div class="form-field save-details">
            <div class="checkbox-mask">
              <input type="checkbox" name="save-details" value="1"
                     id="save_details"
                     {% if request.POST.get('save-details') %}
                      checked{% endif %}>
            </div>
            <label for="save_details">
              Would you like to save these details?
              {% if user_form %}
                <span>Create a login</span>
              {% endif %}
            </label>
          </div>

          {% if user_form %}
            {% for field in user_form.hidden_fields() %}
              {{ field|safe }}{% endfor %}

            <div class="user-form">
              {{ user_form.non_field_errors()|safe }}

              {% for field in user_form.visible_fields() %}
                {% include 'snippets/form_field.html' %}
              {% endfor %}
            </div>
          {% endif %}
        {% endif %}

        {% set is_gift = request.POST.get('is-gift') or gift_form.instance.pk %}
          <section class="gift-wrap {% if is_gift %}active{% endif %}">
            <div class="form-field is-gift">
              <input type="checkbox" name="is-gift" value="1" id="is-gift"
                     {% if is_gift %}checked{% endif %}>
              {#- -#}
              <label for="is-gift">Is this a gift?</label>
            </div>
            <div class="gift-form">
              {% for field in gift_form.hidden_fields() %}
                {{ field|safe }}{% endfor %}

              {{ gift_form.non_field_errors()|safe }}
              {% for field in gift_form.visible_fields() %}
                {% if field.name == 'country' %}
                  <div class="form-field {{ field.name -}}
                              {%- if field.errors %} error{% endif -%}
                              {%- if field.field.required %} required{% endif %}">
                    {{- field.errors|safe }}

                    {{- field.label_tag(label_suffix='')|safe }}
                    {% if valid_countries %}
                      <select id='id_country' name='country'>
                        {% for code, name in valid_countries %}
                          {% set selected = not selected_country and loop.first
                                            or code == selected_country %}
                          <option value='{{ code }}'
                                  {{ 'selected' if selected else ''}}>
                            {{ name }}
                          </option>
                        {% endfor %}
                      </select>
                    {% else %}
                      {{- field|safe }}
                    {% endif %}

                    {%- if field.help_text -%}
                      <p class="help">{{ field.help_text }}</p>
                    {%- endif -%}
                  </div>
                {% else %}
                  {% include 'snippets/form_field.html' %}
                {% endif %}
              {% endfor %}
            </div>
          </section>

        <div class="checkout-buttons">
          <a href="{{ url('checkout_cart') }}" class="back">Back to cart</a>
          <input type="submit" name="confirm" value="Continue to payment">
        </div>
      </form>
    {% else %}
      <p class="empty">
        No products in your cart.
      </p>
    {% endif %}
  </article>
{% endblock %}
