{% extends "checkout/base.html" %}
{% from 'checkout/snippets/order.html' import order_lines with context %}

{% block title %}Order Completed{% endblock %}

{% block analytics %}
  {{ super() }}
  {% if display_tracking %}
    <script type="text/javascript">
      if (typeof window.ga !== 'undefined' && window.ga !== null) {
        ga('require', 'ecommerce');
        ga('ecommerce:clear');
        ga('ecommerce:addTransaction', {
          'id': '{{ order.invoice_number }}',
          {% if order.currency %}'currency': '{{ order.currency }}',{% endif %}
          {% if order.shipping_cost %}'shipping': '{{ order.shipping_cost }}',{% endif %}
          'revenue': '{{ order.total }}'
        });
        {% for line in order.lines.all() %}
          ga('ecommerce:addItem', {
            'id': '{{ order.invoice_number }}',
            'name': '{{ line.item }}',
            {% if line.item.sku %}'sku': '{{ line.item.sku }}',{% endif %}
            'price': '{{ line.total / line.quantity }}',
            'quantity': '{{ line.quantity }}'
          });
        {% endfor %}
        ga('ecommerce:send');
      }
    </script>
  {% endif %}
{% endblock %}

{% block content %}
  <article class="checkout-success">
    <section class="checkout-order-status">
      <p class="order">
        Order {{ order.invoice_number }}
        {{ order.created|date('d F y') }}
      </p>
      <p class="status">Status: <span>{{ order.get_status_display() }}</span>
      </p>
    </section>

    {{ order_lines(order, show_quantity=True) }}

    <div class='shipping'>
      <strong>Shipping</strong>
      <p class='shipping-cost'>
        ${{ order.shipping_cost|floatformat(2) }}
      </p>
    </div>

    {% if order.total_discount -%}
      <div class='discount'>
        <strong>Discount</strong>
        <p class='total-discount'>
          -${{ order.total_discount|floatformat(2) }}
        </p>
      </div>
    {% endif -%}

    <p class="checkout-totals">
      <strong>Total</strong>
      <span class="price">
        $<span class="cart-total">{{ order.total|floatformat(2) }}</span>
      </span>
    </p>

    <div class="checkout-order-detail">
      <h5>Shipping Address</h5>
      {% set shipping_address = order.get_shipping_address() %}
      <p>
        {{ shipping_address.name }}<br>
        {{ shipping_address.address }}<br>
        {{ shipping_address.city }} {{ shipping_address.postcode }}<br>
        {{ shipping_address.state }}<br>
        {{ shipping_address.get_country_display() }}<br>
        Email: {{ shipping_address.email }}<br>
        Phone: {{ shipping_address.phone }}<br>
      </p>
      {% set billing_address = order.get_billing_address() %}
      <h5>Billing Address</h5>
      <p>
        {{ billing_address.name }}<br>
        {{ billing_address.address }}<br>
        {{ billing_address.city }} {{ billing_address.postcode }}<br>
        {{ billing_address.state }}<br>
        {{ billing_address.get_country_display() }}<br>
        Email: {{ billing_address.email }}<br>
        Phone: {{ billing_address.phone }}<br>
      </p>
    </div>
  </article>
{% endblock %}
