{% extends "checkout/base.html" %}

{% block title %}Order Confirmation{% endblock %}

{% block content %}
  <article class="checkout">
    <h3>Your Order</h3>

    {% include 'checkout/snippets/order_lines.html' %}

    <p>
      {{ order.name }}<br>
      {{ order.street }}<br>
      {{ order.city }} {{ order.postcode }}<br>
      {{ order.state }}<br>
      {{ order.get_country_display() }}<br>
      {{ order.created|date('d F Y') }}<br>
      Email: {{ order.email }}<br>
      Phone: {{ order.phone }}<br>
    </p>
  </article>
{% endblock %}
