
{% macro order_lines(order_obj, quantity_url, show_quantity=False,
                     add_to_cart=False) %}
  {# order_obj may be a cart or an order #}

  <ul class="checkout-item-list">
    {% for line in order_obj.get_lines() %}
      <li>
        <h6>{{ line.description }}</h6>
        {#- -#}
        <p class="unit-price">
          ${{ line.item.price|floatformat(2) }}
        </p>
        {#- -#}
        {% if show_quantity -%}
          <div class="quantity">
            {% if quantity_url %}
              <form action="{{ quantity_url }}" method="post" class="quantity">
                {{ csrf_input }}
                <label>Qty</label>
                <input type="number" name="qty" value="{{ line.quantity }}">
                <input type="hidden" name="ctype"
                       value="{{ line.ctype }}">
                <input type="hidden" name="pk" value="{{ line.item.pk }}">
                <input type="submit" value="Update">
              </form>
              <form action="{{ quantity_url }}" method="post" class="remove">
                {{ csrf_input }}
                <input type="hidden" name="qty" value="0">
                <input type="hidden" name="ctype"
                       value="{{ line.ctype }}">
                <input type="hidden" name="pk" value="{{ line.item.pk }}">
                <input type="submit" name="Update" value="Remove">
              </form>
            {% else %}
              <p class="qty">{{ line.quantity }}</p>
            {% endif %}
          </div>
        {%- endif %}
        {#- -#}
        <p class="line-total">
          ${{ line.total|floatformat(2) }}
        </p>

        {# uncomment this to enable adding to cart, for eg if used for a
           wishlist-style page #}
        {# if add_to_cart %}
          {% if line.item.product_type == 'variant' and
                line.item.available() %}
            <form action="{{ url('shop_add', line.item.product.pk) }}"
                  method="post" class="cart
                  {%- if in_cart(request, line.item) %} in-bag{% endif %}">
              {{ csrf_input }}
              {% if line.item.colour %}
                <input type="hidden" name="colour"
                       value="{{ line.item.colour.pk }}">
              {% endif %}
              {% if line.item.size %}
                <input type="hidden" name="size"
                       value="{{ line.item.size.size }}">
              {% endif %}
              <input type="hidden" name="qty" value=1>
              <button type="submit" name="cart">Add to bag</button>

              <a class="cart" href="{{ url('checkout_cart') }}">In bag</a>
            </form>
          {% endif %}
        {% endif #}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
