{% extends "registration/base.html" %}
{% from 'snippets/form.html' import render_form with context %}

{% set registration_title = 'Log in' %}

{% block registration_content %}

<form action="." method="post" class="registration-form">
  <input type="hidden" name="next"
         value="{{ request.GET.get('next') or request.POST.get('next') or '/' }}">

  {{ render_form(form) }}

  <input type="submit" value="Log in">
</form>

<p class="forgot">
  Forgot your password?<br>
  <a href="{{ url('password_reset') }}">
    Click here</a> to reset it.
</p>

{% endblock %}
