{% extends "registration/base.html" %}

{% set registration_title = 'Password reset' %}

{% block registration_content %}
  {% if validlink %}
    <p>
      Please enter your new password twice so we can verify you typed it in
      correctly.
    </p>

    <form action="" method="post" class="registration-form">
      {% include 'snippets/form.html' %}

      <input type="submit" value="Change my password">
    </form>
  {% else %}
    <h5>Password reset unsuccessful</h5>
    <p>
      The password reset link was invalid, possibly because it has already been
      used.  Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}
