{% extends "registration/base.html" %}
{% from 'checkout/snippets/form.html' import render_form with context %}

{% set registration_title = 'Password reset' %}

{% block registration_content %}
  <p>
    Forgotten your password? Enter your email address below, and we'll email
    instructions for setting a new one.
  </p>

  <form action="" method="post" class="registration-form">
    {{ render_form(form) }}
    <input type="submit" value="Reset my password" />
  </form>

  <p>
    Go to the
    <a href="{{ url('login') }}">login form.</a>
  </p>
{% endblock %}
