{% extends "registration/base.html" %}
{% from 'checkout/snippets/form.html' import render_form with context %}

{% set registration_title = 'Password change' %}

{% block registration_content %}
  <p>
    Please enter your old password, for security's sake, and then enter your
    new password twice so we can verify you typed it in correctly.
  </p>

  <form action="" method="post" class="registration-form">
    {{ render_form(form) }}
    <input type="submit" value="Change my password">
  </form>
{% endblock %}
