{% extends "accounts/base.html" %}
{% from 'checkout/snippets/form.html' import render_form with context %}

{% set page_title = 'Your details' %}

{% block accounts_content %}
  <section class="user">
    <p>Logged in as {{ request.user.first_name }}</p>
  </section>
  <form action="{{ request.path_info }}" method="post"
        class="accounts-form">

    {{ render_form(user_form) }}
    {{ render_form(account_form) }}

    <input type="submit" name="confirm" value="Save details">
  </form>
{% endblock %}
