{% macro cart_voucher_form(cart) %}
  <form action="{{ url('cart_set_voucher_codes') }}" method="post">
    {{ csrf_input }}
    
    <div class="input-wrap">
      <input type="text" name="codes"
             value="{{ ', '.join(cart.get_voucher_codes()) }}">
      <p>Separate multiple vouchers with a comma</p>
    </div>
    <div class="discount">
      {% set discounts, invalid = cart.calculate_discounts() %}
      {% for discount in discounts %}
        <p>
          {{ discount.voucher.discount_text }}<br>
          - ${{ discount.amount|floatformat(2) }}
        </p>
      {% endfor %}
      {% for code in invalid %}
        <p class="invalid">
          <span>{{ code }}</span> is invalid or expired
        </p>
      {% endfor %}
    </div>

    <input type="submit" value="Update">
  </form>
{% endmacro %}
