{% extends "base.html" %}

{% block content %}
  <h2>Current order</h2>

  {% if cart.empty() %}
    <p>
      No products in your cart.
    </p>
  {% else %}
    {% for error in cart.get_errors() %}
      <p class="error">{{ error }}</p>
    {% endfor %}

    <ul>
      {% for line in cart.get_lines() %}
        <li>
          <h6>{{ line.description }}</h6>

          {# update quantity form #}
          <form action="{{ url('cart_quantity') }}" method="post">
            {{ csrf_input }}
            <input type="hidden" name="ctype" value="{{ line.ctype }}">
            <input type="hidden" name="pk" value="{{ line.item.pk }}">

            <label>
              Qty:
              <input type="number" name="quantity" value="{{ line.quantity }}"
                     min="0" step="1">
            </label>

            <input type="submit" value="Update">
          </form>

          {# remove button #}
          <form action="{{ url('cart_quantity') }}" method="post" class="remove">
            {{ csrf_input }}
            <input type="hidden" name="quantity" value="0">
            <input type="hidden" name="ctype" value="{{ line.ctype }}">
            <input type="hidden" name="pk" value="{{ line.item.pk }}">
            <input type="submit" name="Update" value="Remove">
          </form>

          <p>
            ${{ line.total|floatformat(2) }}
          </p>
        </li>
      {% endfor %}
    </ul>

    {% if regions %}
      {% from 'regions/snippets/macros.html' import region_change_form with context %}
      {{ region_change_form(get_regions(request), get_region(request).id,
                            next=url("checkout_cart")) }}
    {% endif %}

    {% if shipping_options %}
      <form action='{{ url("cart_set_shipping_option") }}' method='POST'
            class='shipping-option-selector'>
        {{ csrf_input }}
        <input name='next' value='{{ url("checkout_cart") }}' />
        <select name='option_slug'>
          {% for slug, name in shipping_options %}
            <option value='{{ slug }}'
                    {{- ' selected' if slug == shipping_option else '' }}
                    {{- ' disabled' if not slug else '' }}>
              {{ name }}
            </option>
          {% endfor %}
        </select>
        <input type='submit' value='Change shipping option '/>
      </form>
    {% endif %}

    {% if cart.is_valid %}
      <p class='subtotal'>
        Subtotal ${{ cart.subtotal|floatformat(2) }}
      </p>
      <p class='shipping-cost'>
        Shipping ${{ cart.shipping_cost }}
      </p>
      <p class='total'>
        Total ${{ cart.total|floatformat(2) }}
      </p>
      <p>
        <a href="{{ url('checkout_checkout') }}">
          Continue to Payment & Shipping
        </a>
      </p>
    {% endif %}
  {% endif %}
{% endblock %}
