{% from 'checkout/snippets/order.html' import order_lines with context %}
{# from 'shipping/snippets/shipping_selectors.html' import cart_shipping_selectors with context #}
{# from 'vouchers/snippets/cart_voucher_form.html' import cart_voucher_form with context #}


{% if cart.empty() %}
  <p class="checkout-empty">
    No products in your cart.
  </p>
{% else %}
  {% for error in cart.get_errors() %}
    <p class="error">{{ error }}</p>
  {% endfor %}

  {{ order_lines(cart, quantity_url=url('cart_quantity'),
                 show_quantity=True) }}

  {# cart_shipping_selectors(cart) #}

  {# cart_voucher_form(cart) #}

  <p class="checkout-totals">
    {% if cart.is_valid %}
      <strong>Total</strong>
      <span class="price">
        $<span class="cart-total">
          {{ cart.total|floatformat(2) }}
        </span>
      </span>
    {% endif %}
  </p>

  <div class="checkout-buttons proceed-to-checkout">
    {% if cart.is_valid %}
      {# <a href="{{ url('shop_index') }}" class="back">
        Continue shopping
      </a> #}
      {#- spaceless -#}
      <a class="checkout"
         href="{{ url('checkout_checkout') }}">
        Continue to<br/>Payment & Shipping
      </a>
    {% endif %}
  </div>
{% endif %}
