{% extends "base.html" %}

{% block content %}
  <h2>Checkout</h2>

  <p>
    {% if request.user.is_authenticated %}
      Logged in as {{ request.user.first_name }}
    {% else %}
      <a href="{{ url('login') }}?next={{ request.path }}">Log in</a>
    {% endif %}
  </p>

  <form action="{{ request.path_info }}" method="post">
    {{ csrf_input }}

    <h3>Order details</h3>
    {{ order_form.as_p() }}
    
    <h3>Shipping address</h3>
    {{ shipping_form.as_p() }}

    <h3>Billing address</h3>
    <label>
      {{ meta_form.billing_is_shipping }}
      Same as shipping
    </label>
    {{ billing_form.as_p() }}

    {% if accounts_enabled %}
      <h3>Save details</h3>
      <p>
        <label>
          {{ meta_form.save_details }}
          {% if request.user.is_authenticated() %}
            Save details to your account
          {% else %}
            Create an account
          {% endif %}
        </label>
      </p>
      {% if user_form %}
        {{ user_form.as_p() }}
      {% endif %}
    {% endif %}

    <p>
      <a href="{{ url('checkout_cart') }}" class="back">Back to cart</a>
      <input type="submit" name="confirm" value="Continue to payment">
    </p>
  </form>
{% endblock %}
