{% from 'checkout/snippets/lines.html' import order_lines with context %}

<!doctype html>
<html nomarginboxes disallowselectionprint>
  <head>
    <title>{{ order }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ render_bundle('css_main') }}
  </head>
  <body onload="window.print()">
    <article class="shoptools-invoice-page shoptools-page">
      <section class="checkout-order-status">
        <p class="order">
          Order {{ order.invoice_number }}
          <br/>
          {{ order.created|date('d F y') }}
        </p>
        <p class="status">Status: <span>{{ order.get_status_display() }}</span>
        </p>
      </section>

      {{ order_lines(order, show_quantity=True) }}

      <div class="checkout-totals">
        <div class="subtotal">
          <strong>Subtotal</strong>
          {#- spaceless -#}
          <span class="subtotal-inner">
            {{ order.currency_symbol }}<span class="cart-subtotal">
              {{- '{:,.2f}'.format(order.subtotal) -}}
            </span>
          </span>
        </div>
        <div class="shipping">
          <strong>Shipping</strong>
          {#- spaceless -#}
          <span class="shipping-inner">
            {{ order.currency_symbol }}<span class="cart-shipping-cost">
              {{- '{:,.2f}'.format(order.shipping_cost) -}}
            </span>
          </span>
        </div>
        {% if order.total_discount -%}
          <div class="discount">
            <strong>Discount</strong>
            {#- spaceless -#}
            <span class="discount-inner">
              -{{ order.currency_symbol }}<span class="cart-discount">
                {{- '{:,.2f}'.format(order.total_discount) -}}
            </span>
          </div>
        {% endif -%}
        <div class="total">
          <strong>Total</strong>
          {#- spaceless -#}
          <span class="total-inner">
            {{ order.currency_symbol }}<span class="cart-total">
              {{- '{:,.2f}'.format(order.total) -}}
            </span>
          </span>
        </div>
      </div>

      <div class="checkout-order-detail">
        <div class='shipping-address'>
          <h5>Shipping Address:</h5>
          {% set shipping_address = order.shipping_address %}
          <p>
            {{ shipping_address.name }}<br>
            {{ shipping_address.address }}<br>
            {{ shipping_address.city }} {{ shipping_address.postcode }}<br>
            {% if shipping_address.state %}
              {{ shipping_address.state }}<br>
            {% endif %}
            {{ shipping_address.get_country_display() }}<br>
            Email: {{ shipping_address.email }}<br>
            Phone: {{ shipping_address.phone }}<br>
          </p>
        </div>
        <div class='billing-address'>
          <h5>Billing Address:</h5>
          {% set billing_address = order.billing_address %}
          <p>
            {{ billing_address.name }}<br>
            {{ billing_address.address }}<br>
            {{ billing_address.city }} {{ billing_address.postcode }}<br>
            {% if billing_address.state %}
              {{ billing_address.state }}<br>
            {% endif %}
            {{ billing_address.get_country_display() }}<br>
            Email: {{ billing_address.email }}<br>
            Phone: {{ billing_address.phone }}<br>
          </p>
        </div>
      </div>
    </article>
  </body>
</html>
