{% extends "base.html" %}

{% block content %}
  <h2>Your Order</h2>

  <p>
    Order {{ order.invoice_number }} {{ order.created.strftime('%d/%m/%Y') }}<br>
    Status: {{ order.get_status_display() }}
  </p>

  <ul>
    {% for line in order.get_lines() %}
      <li>
        {{ line.quantity }}x {{ line.description }}
        ${{ line.total|floatformat(2) }}
      </li>
    {% endfor %}
  </ul>

  <p>
    Shipping ${{ order.shipping_cost|floatformat(2) }}
  </p>

  {% if order.total_discount -%}
    <p>
      Discount: -${{ order.total_discount|floatformat(2) }}
    </p>
  {% endif -%}

  <p>
    Total: ${{ order.total|floatformat(2) }}
  </p>

  <h3>Delivery details</h3>
  <p>
    {{ order.shipping_address.name }}<br>
    {{ order.shipping_address.address }}<br>
    {{ order.shipping_address.city }} {{ order.shipping_address.postcode }}<br>
    {{ order.shipping_address.state }}<br>
    {{ order.shipping_address.get_country_display() }}<br>
    {{ order.shipping_address.email }}<br>
    {{ order.shipping_address.phone }}<br>
  </p>

  {% if order.billing_address %}
    <h3>Billing details</h3>
    <p>
      {{ order.billing_address.name }}<br>
      {{ order.billing_address.address }}<br>
      {{ order.billing_address.city }} {{ order.billing_address.postcode }}<br>
      {{ order.billing_address.state }}<br>
      {{ order.billing_address.get_country_display() }}<br>
      {{ order.billing_address.email }}<br>
      {{ order.billing_address.phone }}<br>
    </p>
  {% endif %}
{% endblock %}
