{% macro region_selector(valid_regions, region=None, show_currency=False) -%}
  <div class='region-selector'>
    <form method='post' action='{{ url('shipping_change_region') }}'>
      {{ csrf_input }}
      <select name='region'>
        {% for id, name, currency in valid_regions %}
          <option value='{{ id }}'
                  {%- if region == id or
                      not region and loop.first %} selected{% endif %}>
            {{ name }}
            {% if show_currency and currency %}
              ({{ currency }})
            {% endif %}
          </option>
        {% endfor %}
      </select>
      <div class='checkout-buttons'>
        <input type='submit' value='Change Region'>
      </div>
    </form>
  </div>
{%- endmacro %}

{% macro option_selector(valid_options, option=None,
                         show_currency=False) -%}
  <div class='option-selector'>
    <form method='post' action='{{ url('shipping_change_option') }}'>
      {{ csrf_input }}
      <select name='option'>
        {% for id, name, currency in valid_options %}
          <option value='{{ id }}'
                  {%- if option == id or
                      not option and loop.first %} selected{% endif %}>
            {{ name }}
            {% if show_currency and currency %}
              ({{ currency }})
            {% endif %}
          </option>
        {% endfor %}
      </select>
      <div class='checkout-buttons'>
        <input type='submit' value='Change Shipping Option'>
      </div>
    </form>
  </div>
{%- endmacro %}

{% macro cart_shipping_selectors(cart, show_currency=False) -%}
  {% set shipping = cart.get_shipping() -%}
  <div class='shipping'>
    {% if shipping.get('country', None) -%}
      <div class='label-wrap region'>
        {% set valid_regions = shipping.get('valid_regions') -%}
        {% if valid_regions %}
          <p>Ship to</p>
          {{ region_selector(valid_regions, shipping.get('region'),
                             show_currency) }}
        {% else %}
          <div class='messages'>
            {% for message in shipping.get('region_messages') %}
              <p>
                {{ message }}
              </p>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <div class='label-wrap option'>
        {% set valid_options = shipping.get('valid_options') -%}
        {% if valid_options %}
          <p>Via</p>
          {{ option_selector(valid_options, shipping.get('option'),
                             show_currency) }}
        {% else %}
          <div class='messages'>
            {% for message in shipping.get('option_messages') %}
              <p>
                {{ message }}
              </p>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {%- endif %}
    <p class='shipping-cost'>
      {% if cart.has_valid_shipping %}
        $<span class='cart-shipping'>
          {{- cart.shipping_cost|floatformat(2) -}}
        </span>
      {% endif %}
    </p>
  </div>
{%- endmacro %}
